resources:
  containers:
  - container: psoc6
    image: vmmedvid/psoc6.cmake:latest

trigger:
- master

pool:
  vmImage: 'ubuntu-18.04'
container: psoc6

steps:
- task: CMake@1
  inputs:
    workingDirectory: 'build/CY8CPROTO-062-4343W/NOOS/GCC/Debug'
    cmakeArgs: '../../../../.. -G Ninja -DTARGET=CY8CPROTO-062-4343W -DOS=NOOS -DTOOLCHAIN=GCC -DCMAKE_BUILD_TYPE=Debug'
  displayName: 'CY8CPROTO-062-4343W/NOOS/GCC/Debug'
