resources:
  containers:
  - container: psoc6
    image: vmmedvid/psoc6.cmake:latest

trigger:
- master

pool:
  vmImage: 'ubuntu-18.04'
container: psoc6

steps:
- task: Bash@3
  inputs:
    filePath: ci/build-all.sh
    arguments: --toolchain GCC
  env:
    GCC_TOOLCHAIN_PATH: /opt/gcc-arm-none-eabi-9-2019-q4-major
